
.a1{
    text-align: center;
    background-color: black;
}

.aa1{
    height: 92px;
}

#jh{
   
position: relative;


}

#cvb{
margin-left: -1345px;
    margin-top: 91px;
    position: absolute;
    
    
}
#jh{
    height:auto;
    width: 100%;
    }
   
#z4{
    height: auto;
}
#oa{height: 614px;
width: 100%;
position: relative;}
#xz{
    position: absolute;
    color: white;
   font-size: 86px;
}
.ocv{justify-content: space-evenly;
    display: flex;
    padding: 3px;
   
}
.card-img-top
{
    height: 200px;
}
.iop:hover{
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
#c11{
    border:none
}






.card {
    transition: 1s ease;
    }
    
    .card:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    }